body {
    background-color: blue;
}

Header {
    background-color: yellow;
    color: black;
    border-radius: 15px;
    width: 40%;
    margin: auto;
    margin-bottom: 2vw;
}

Header a {
    padding: 2vw;
    text-align: center;
}

header:hover {
    background-color: purple;
    color: white;
}

.Me img {
    width: 60vw;
    display: block;
    margin: auto;
    border-radius: 10px;
}