body {
    background-color: purple;
}

Header {
    width: 50%;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 2vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


Header a {
    padding: 0.7vw;
    text-decoration: none;
    background-color: whitesmoke;
    width: 35%;
    color: black;
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
    border-radius: 5px;
    text-align: center;
}

Header a:hover {
    color: #0cd4d9;
    background-color: #570661;
}

.Me img {
    width: 40vw;
    display: block;
    margin: auto;
    border-radius: 10px;
}